## BookRentalShop on Jupyter  Notebook

In [3]:
import cx_Oracle as ora

def myconn():
    dsn = ora.makedsn('localhost',1521,service_name='orcl')
    conn = ora.connect(user='scott',password='tiger',dsn=dsn, encoding='utf-8')
    return conn

In [18]:


def getAlldataFromDivtbl(conn):
    cur = conn.cursor()
    query = 'SELECT * FROM emp'
    for row in cur.execute(query):
        print(row)

In [6]:
def setDataIntoDivtbl(conn, tup):
    cur = conn.cursor()
    query = '''INSERT INTO divtbl (division, names) 
                VALUES (:1, :2)'''        # :1, :2   = 튜플 tup에 1번과 2번 (데이터베이스는 프로그래밍과 다르게 1번부터 시작한다)
    
    cur.execute(query, tup)
    cur.close()
    conn.commit()   # COMMIT;   < 컬럼을 추가한 후 COMMIT 을 하지 않으면 저장되지 않는다

In [7]:
scott_con = myconn()

print('접속')

접속

In [19]:
getAlldataFromDivtbl(scott_con)

(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)